div{
  width:250px;
  text-align: center;

}


.material-icons{
  position: relative;
  font-size: 30px;
  color: var(--app-darklight2);

}
p{
  text-align: center;
  font-size: 20px;
   margin: 8px;
   color: var(--app-darklight2);

}
