.state-canceled > select:only-child {

  background-color: var(--app-error);
}
.state-option > select:only-child{
  background-color: var(--app-warning);
}
.state-confirmed > select:only-child{
  background-color: var(--app-success);
}

select{
  text-align: center;
}

td {
  width: 125px;
  text-align: center;
  max-width: 125px;
  text-align: center;
  word-wrap: break-word;
}

table{
  margin:150px;
}

